PLACE_NAME=nom_du_compteur_d_eau

BASE_URL=https://abonne.stgs.fr/wp
LOGIN=votre_email@example.com
PASSWORD=votre_mot_de_passe

DATA_DIR=./data
SEUIL_JOURNALIER=500
LOG_FILE=./log/stgs.log

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_LOGIN=votre_email@gmail.com
SMTP_PASSWORD=mot_de_passe_application_google
EMAIL_FROM=votre_email@gmail.com
EMAIL_TO=destinataire1@example.com,destinataire2@example.com
